* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #F5F7FA;
    width: 100%;
    height: 100%;
    font-family: PingFang-SC-Medium, PingFang-SC,微软雅黑;
    font-size: 14px;
    color: #464646;
    box-sizing: border-box;
}

p, ul, h3, ol {
    margin: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.menu_info {
    width: 240px;
    background: #222324;
    height: 100%;
    color: #d3d3d3;
    transition: all 1s;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.user_info {
    background: #2C2B29;
    padding: 24px;
    text-align: center;
    height: 250px;
    overflow: hidden;

}
.eit{
    margin-right: 24px;
    cursor: pointer;
}
.eit>p{
    font-weight: 500;
}
.eit>p img{
    margin-left: 5px;
    margin-top: -2px;
}
.close_user {
    display: none;
    margin-top: 57px;
    font-size: 16px;
    font-weight: 500;
}

.user_info > img {
    margin-bottom: 16px;

}

.user_info > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ffffff;
}

.user_info > ul > li > p:first-child {
    float: left;
}

.user_info > ul > li > p + p {
    float: right;
}

.user_info > ul > li {
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    width: 100%;
    clear: both;
    overflow: hidden;
}

.user_info > ul > li:first-child+li+li {
    margin-bottom: 0;
}
.menu_icon .dropdown{
    margin-right: 40px;
}
.menu_icon .dropdown .btn{
    background: none;
    outline: none;
    box-shadow: none;
}
.menu_icon .dropdown .btn img{
    margin-top: -3px;
}
.dropdown-menu{
    border: none;
    box-shadow: none;
}
.menuActive {
    color: #ffffff;
}
.menuActive:hover {
	background: #DD8504;
    color: #ffffff;
}

.menuActive2 {
    color: #ffffff;
}
.menuActive2:hover {
	background: #DD8504;
    color: #ffffff;
}

.menu_content {
    padding: 24px 0;
}

.menu_content > ul > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 24px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 1s;
}

/*right_content*/
.content {
    width: calc(100% - 240px);
    transition: all 1s;
    height: 100%;
    overflow: scroll;
    position: absolute;
    left: 240px;
}

.menu_icon {
    height: 60px;
    line-height: 60px;
    padding-left:24px;
    background: #ffffff;
    position: fixed;
    top: 0;
    width: calc(100% - 240px);
    z-index: 99;
    margin-bottom: 24px;
    transition: all 1s;
}


.carousel,
.carousel-inner,
.carousel-inner > .item {
    height: 100%;
}

.carousel-inner > .item > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-indicators li {
    width: 30px;
    height: 8px;
    background: #C3C3C3;
    border-radius: 2px;
    opacity: 0.5;
    border: none;
    margin: 0px 5px;
}

.carousel-indicators .active {
    width: 30px;
    height: 8px;
    background: #DD8504;
    border-radius: 2px;
    opacity: 1;
    margin:0px 5px;
}
#appCarousel .carousel-indicators .active,
#danDianCarousel .carousel-indicators .active{
    background: #C3C3C3;
}
#appCarousel .carousel-indicators li,
#danDianCarousel .carousel-indicators li{
    background: #EFEFEF;
    opacity: 1;
}
@media screen and (min-width: 768px){
   #appCarousel .carousel-indicators,
   #danDianCarousel .carousel-indicators{
        bottom: -10px;
    }
}


#appContent>div{

    height: 258px;

}
.content_body {
    width: 100%;
    padding: 60px 24px 24px;
}

.content_body > div {
    margin-top: 24px;
    overflow: hidden;
}

.time {
    height: 320px;
    width: 58.2%;
    position: relative;
}

.time > .left {
    width: calc(100% - 360px);
    border-right: 1px solid #F0F0F0;
    height: 320px;
}

#timeTab {
    position: absolute;
    right: 0;
    border: none !important;
    margin-top: 13px;
    z-index: 2;
}

#timeTab li {
    text-align: center;
    width: 60px;
    line-height: 32px;
    height: 32px;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #E5E5E5;
}
.timeLiu{
    margin-top: 30px;
}

#timeTab .active {
    border: 1px solid #DD8504;
}

#timeTab > li > a, #timeTab > li > a:focus, #timeTab > li > a:hover {
    margin: 0;
    border: none;
    padding: 0;
    line-height: 30px;
    color: #464646;
}

#timeTab > li.active > a, #timeTab > li.active > a:focus, #timeTab > li.active > a:hover {
    color: #DD8504;
}

.blue {
    background: #0E96F6;

}

.orange {
    background: #DD8504;
}

.timeTitle {
    margin: 20px 0 15px 0;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}

#timeTabContent ul li:first-child{
    margin-top: 30px;
}
#timeTabContent ul li {
    margin-top: 16px;
}

#timeTabContent ul li > p > span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
#ca{
    margin: 0 auto;
}
.time>.right{
    width: 360px;
    height: 300px;
}
#timeTabContent ul li > p {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#myTabContent>div,
#TabContent>div{
    height: 250px;
    overflow: hidden;
}
#timeTabContent ul li > p + p {
    margin-top: 4px;
    text-indent: 17px;
    color: #8C8C8C;
}
.timeLiu>p>label,
.timeLast>p>label{
    width: 8px;
    height: 8px;
    background: #262626;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}
.timeLiu>p>span,
.timeLast>p>span{
    width: 40px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #DD8504;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    color: #DD8504;
    margin-left: 8px;
}
.timeLiu>p+p{
    margin-right: -12px;
    border-left: 2px solid #CCCCCC;
    height: 113px;
    margin-left: 3.5px;
    position: relative;
    top: -9px;
    padding-left: 12px;
    font-weight: 500;
    color: #8C8C8C;
    padding-top: 10px;
}
.timeLast>p+p{
    margin-right: -12px;
    margin-left: 3.5px;
    position: relative;
    top: -7px;
    padding-left: 12px;
    font-weight: 500;
    color: #8C8C8C;
    padding-top: 10px;
}
.timeLast{
    position: relative;
    top: -14px;
}
.appList ul li {
    padding-top: 30px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
   	display:inline-block;
}

.appDiv{
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-right: 1.6%;
}
.appList ul li:first-child+li+li+li+li+li+li+li{
    margin-right: 0;
}

.appList ul li > img {
    width: 44px;
    height: 44px;
    margin-bottom: 8px;
}

.publicBg {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 0px rgba(70, 74, 81, 0.05);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.publicBg>ul>li>a{
    height: 50px;
    line-height: 50px;

}
.publicTitle {
    padding: 20px 24px 16px 24px;
    overflow: hidden;
}

.publicTitle > h3 {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}
.publicMoreIcon{
    position: absolute;
    top: 20px;
    right: 24px;
}

.publicMoreIcon > img,
.publicTitle>img{
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.slideDiv{
   width: 100%;
    height: 280px;
}
@media screen and (max-width: 1440px) {
    .slideDiv { height: 260px;}
}
@media screen and (min-width: 1600px) {
    .slideDiv { height: 360px;}
}
@media screen and (min-width: 1440px) and (max-width: 1600px){
    .slideDiv { height: 300px;}
}
@media screen and (min-width: 1440px) and (max-width: 1600px){
    .appList ul li { width:calc(100% / 3);}
}
@media screen and (max-width: 1440px) {
    .appList ul li { width:calc(100% / 3);}
}
@media screen and (min-width: 1600px) {
    .appList ul li { width:calc(100% / 3);}
}


.processCenter{
    width: 40.2%;
    margin-right: 1.6%;
}

.nav-tabs {
    border-bottom: 1px solid #F0F0F0;
    padding: 0 24px;
    height: 51px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #262626;
    cursor: default;
    border: none;
    background-color: #fff;
    padding-bottom: 7px;
    border-bottom: 2px solid #DD8504;
    font-weight: 600;
}

.nav-tabs > li > a,
.nav > li > a:focus, .nav > li > a:hover {
    padding: 0;
    margin-right: 30px;
    color: #8C8C8C;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
}
.nav-tabs > li:last-child > a, .nav > li:last-child > a:focus, .nav > li:last-child > a:hover{
    margin-right: 0;
}

.tab-content > div {
    padding: 0 24px 27px 24px;
    overflow: hidden;
}

.noticeList > li,
.allNotice > li {
    float: left;
    font-weight: 500;
    line-height: 20px;
    margin-top: 16px;
    margin-right: 1%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.noticeList > li > p,
.allNotice > li > p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.noticeList > li > p > span,
.allNotice > li > p > span {
    display: block;
    float: left;
    line-height: 10px;
    margin-right: 5px;
}

.noticeList > li+li+li+li {
    margin-right: 0;
    color: #8C8C8C;
    text-align: right;
}


.noticeList > li:first-child {
    width: 47%;
}

.noticeList > li:first-child+li,
.noticeList > li:first-child+li+li+li {
    width: 15%;
}

.noticeList > li:first-child+li+li {
    width: 20%;
}

.Notice {
    width: 58.2%;
}

.email > div {
    width: 100%;
}

.emailList {
    overflow: hidden;
    border-top: 1px solid #F0F0F0;
    max-height: 522px;
    padding-top: 0!important;
}

.emailList a {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
    line-height: 52px;
    width: 100%;
    display: block;
    overflow: hidden;
}

.emailList a > img {
    width: 16px;
    height: 16px;
    margin-top: 17px;
    margin-right: 24px;
}

.emailList .yiDu {
    color: #8C8C8C;
}

.emailList a p + p {
    color: #8C8C8C;
    float: right;
}

.emailList > li {
    margin: 0 24px;
    height: 35px;
    border-bottom: 1px solid #F0F0F0;
    line-height: 52px;
}

.emailList > li a > * {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 1%;
}

.emailList > li a span {
    width: 12%;
    background-image: url(../images/icon_email_notviewed.png);
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position: left;
}

.emailList .yiDu span {
    background-image: url(../images/icon_email_viewed.png);
}

.emailList > li a p {
    width: 76%;
}

.emailList > li a p + p {
    width: 10%;
    text-align: right;
    margin-right: 0;
}